MinervaPython/

.idea/
__pycache__/

# SDL libs
SDL/
SDL_image/
SDL_ttf/

# build files and logs
build/
.logs/


# don't save compiled files
*.fasl

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
